---
title: Авторы
---
<div class="container flow-text">
    <h1>Авторы</h1>
    <ul>
        {% for author in site.authors %}
        <li>
            <div class="row author-in-list">
                <div class="col s12 m2 avatar">
                    {% if author.image == null %}
                        <img src={{ "assets/images/author.png" | relative_url }} alt="profile photo" class="circle responsive-img">
                    {% else %}
                        <img src={{ "assets/images/" | append: author.image | relative_url }} alt="profile photo" class="circle responsive-img">
                    {% endif %}
                </div>
                <div class="col s12 m10">
                    <h4><a href={{ author.url | relative_url }}>{{ author.name }}</a></h4>
                    <div>
                        {{ author.content | markdownify }}
                    </div>
                </div>
            </div>
        </li>
        <div class="divider"></div>
        {% endfor %}
    </ul>
</div>
