<nav>
    <div class="nav-wrapper white">
        <a class="brand-logo center black-text hide-on-small-only" href={{ "" | relative_url }}>Cartographic Post</a>
        <a class="brand-logo center black-text hide-on-med-and-up" href={{ "" | relative_url }}>CPost</a>
        <a href="#" data-target="navbar" class="sidenav-trigger show-on-large right">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

<ul id="navbar" class="sidenav">
    {% for item in site.data.navigation %}
    <li>
      <a href="{{ item.link | relative_url}}">
        {{ item.name }}
      </a>
    </li>
  {% endfor %}
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {
            edge: "right"
        });
    });
</script>